*{
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    min-height: 100vh;
}
.container{
   display: flex;
   flex-direction: column;
    width: 85%;
    border-radius: 10px;
    overflow: hidden;
}
.img-2{
    display: none;
}
.details-container{
 padding: 25px;
  background-color: white;
}
.sample{
    margin-bottom: 10px;
    color :hsl(228, 12%, 48%);
    letter-spacing: 0.3rem;
    font-size: 0.7rem;
    font-weight: 500;
}
.sample-infos{
    margin-bottom: 25px;
    color :hsl(228, 12%, 48%);
    font-weight: 500;
}
h1{
 line-height: 1.9rem;
 margin-bottom: 15px;
 font-family: 'Fraunces', serif;
 font-weight: 700;
 color: hsl(212, 21%, 14%);
}
.pricing-container{
   display: flex;
   margin-bottom: 15px;
}
.first-price{
    font-family: 'Fraunces', serif;
    font-size: 1.8rem;
    color:hsl(158, 36%, 37%) ;
}
.second-price{
    text-decoration: line-through;
    align-self: center;
    font-size: 0.8rem;
    font-weight: 500;
    position: relative;
    left:20px ;
    color :hsl(228, 12%, 48%);
}
button{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 100%;
  padding: 5% 0;
  border-radius: 7px;
  border: none;
  background-color: hsl(158, 36%, 37%);
  color: hsl(30, 38%, 92%);
  font-weight: 700;
}
button:hover{
    cursor: pointer;
    background-color: hsl(159, 35%, 25%);
}
.market-icon{
    position: relative;
    right: 4%;
}
@media(min-width :575px ) {
    .container{
        display: flex;
        flex-direction: row;
        width: 680px;
        height: 480px;
     }

     .img-1{
        display: none;
     }
     .img-2{
        display: block;
        flex-basis: 50%;
     }
     .details-container{
        flex-basis: 50%;
        padding: 5%;
     }
     .sample{
        padding-bottom: 5%;
     }
     .sample-infos{
        margin: 0 13% 15% 0 ;
        line-height: 1.4rem;
     }
     h1{
        margin: 0 22% 12% 0 ;
     }
     .pricing-container{
        margin-bottom: 16%;
     }
     button{
        width: 95%;
     }
}
